[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8-isort = "*"
flake8-print = "*"
flake8 = "*"
awscli = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
freezegun = "*"
boto3 = "*"

[packages]

[requires]
python_version = "3.7"
